body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 8px solid #494c4e;
  min-height: calc(100vh - 3px);
  line-height: 1.7 !important;
}

